@media only screen and (min-device-width: 1024px) {

.All_info {
    display: flex;
    background-color: #f5f0ec;
    padding: 30px;
    align-items: center;
}


.Contact_info {
    list-style: none;
    font-size: 20px;
    margin-right: 150px;
}   
}

@media (min-device-width: 768px) and (max-device-width: 1023px){ 
    .Contact_info {
        background-color: #f5f0ec;
        padding: 30px;
        list-style: none;
        font-size: 20px;
        /* margin-right: 150px; */
    }  
}

@media only screen and (max-device-width: 767px) { 

    .Contact_info {
        background-color: #f5f0ec;
        padding: 30px;
        list-style: none;
        font-size: 20px;
        /* margin-right: 150px; */
    } 
}